/*字体颜色*/
.base-fontColor {
  color: #333;
}
.font-white {
  color: #fff;
}
.font-block {
  color: #444444;
}
.font-black {
  color: #555;
}
.font-CCC {
  color: #CCC;
}
.font-f00 {
  color: #f00;
}
.font-4691E8 {
  color: #4691E8;
}
.font-CAE0F9 {
  color: #CAE0F9;
}
.font-yellow {
  color: #FFAA00;
}
.font-red {
  color: #FF5B5B;
}
.font-red2 {
  color: #F9496A;
}
.font-blue {
  color: #5098EC;
}
.font-green {
  color: #5CC55E;
}
.font-whiteElse {
  color: rgba(255, 255, 255, 0.5);
}
/*背景色颜色*/
.base-bg-bluea {
  background-color: #00ade9;
}
.base-bg-blueb {
  background-color: #5098ec;
}
.base-bg-gray {
  background-color: #F5F5F5;
}
.bg-42CFB6 {
  background-color: #42CFB6;
}
.bg-F3C23E {
  background-color: #F3C23E;
}
.bg-31D2FA {
  background-color: #31D2FA;
}
.bg-FA6F66 {
  background-color: #FA6F66;
}
.bg-FFF {
  background-color: #FFF;
}
.bg-F5F7FB {
  background-color: #F5F7FB;
}
.bg-55d3bb {
  background-color: #55d3bb;
}
.bg-21c5a6 {
  background-color: #21c5a6;
}
.bg-CAE0F9 {
  background-color: #CAE0F9;
}
.bg-C3EBFC {
  background-color: #C3EBFC;
}
.bg-55d3bb {
  background-color: #55d3bb;
}
.bg-21c5a6 {
  background-color: #21c5a6;
}
.bg-E8D5AF {
  background-color: #E8D5AF;
}
.bg-F4BE36 {
  background-color: #F4BE36;
}
.bg-EFC755 {
  background-color: #EFC755;
}
.bg-39C0F7 {
  background-color: #39C0F7;
}
.bg-31DAFB {
  background-color: #31DAFB;
}
.bg-F0655B {
  background-color: #F0655B;
}
.bg-FD7269 {
  background-color: #FD7269;
}
.bg-FFEFC7 {
  background-color: #FFEFC7;
}
.bg-ACD1E4 {
  background-color: #ACD1E4;
}
.bg-FFD1CE {
  background-color: #FFD1CE;
}
.bg-F5F7FB {
  background-color: #F5F7FB;
}
.bg-529CEF {
  background-color: #529CEF;
}
.bg-4A94EA {
  background-color: #4A94EA;
}
.bg-4690E8 {
  background-color: #4690E8;
}
.bg-F7F9FB {
  background-color: #F7F9FB;
}
.bg-F8F9FC {
  background-color: #F8F9FC;
}
.bg-EFF1F3 {
  background-color: #EFF1F3;
}
.bg-F3F3F3 {
  background-color: #F3F3F3;
}
.bg-block {
  background-color: rgba(0, 0, 0, 0.77);
}
/*线条颜色*/
.border-FEFEFE {
  border: 1px solid rgba(254, 254, 254, 0.4);
}
.border-013169 {
  border: 1px solid rgba(1, 49, 105, 0.3);
}
.border-B2C0D1 {
  border: 1px solid #B2C0D1;
}
.border-eee {
  border: 1px solid #eee;
}
.border-e3e6eb {
  border: 1px solid #e3e6eb;
}
/*线条边框*/
.border-f5f5f5 {
  border: 1px solid #f5f5f5;
}
/*线条边框*/
.border-ddd {
  border: 1px solid #ddd;
}
.border-b5bac4 {
  border: 1px solid #b5bac4;
}
.border-4A94EA {
  border: 1px solid #4A94EA;
}
