@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gvsj7y');
  src:  url('../fonts/icomoon.eot?gvsj7y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gvsj7y') format('truetype'),
    url('../fonts/icomoon.woff?gvsj7y') format('woff'),
    url('../fonts/icomoon.svg?gvsj7y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-add_f:before {
  content: "\e901";
}
.icon-address:before {
  content: "\e902";
}
.icon-address_f:before {
  content: "\e903";
}
.icon-alarm:before {
  content: "\e904";
}
.icon-alarm_f:before {
  content: "\e905";
}
.icon-app:before {
  content: "\e906";
}
.icon-app_f:before {
  content: "\e907";
}
.icon-attachment:before {
  content: "\e908";
}
.icon-attantion:before {
  content: "\e909";
}
.icon-attantion_f:before {
  content: "\e90a";
}
.icon-back:before {
  content: "\e90b";
}
.icon-badge:before {
  content: "\e90c";
}
.icon-badge_f:before {
  content: "\e90d";
}
.icon-bill:before {
  content: "\e90e";
}
.icon-bill_f:before {
  content: "\e90f";
}
.icon-block:before {
  content: "\e910";
}
.icon-block_f:before {
  content: "\e911";
}
.icon-book:before {
  content: "\e912";
}
.icon-book_f:before {
  content: "\e913";
}
.icon-bottom:before {
  content: "\e914";
}
.icon-bottom_f:before {
  content: "\e915";
}
.icon-brush:before {
  content: "\e916";
}
.icon-brush_f:before {
  content: "\e917";
}
.icon-calculator:before {
  content: "\e918";
}
.icon-calculator_f:before {
  content: "\e919";
}
.icon-calendar:before {
  content: "\e91a";
}
.icon-calendar_f:before {
  content: "\e91b";
}
.icon-camera:before {
  content: "\e91c";
}
.icon-camera_f:before {
  content: "\e91d";
}
.icon-chart:before {
  content: "\e91e";
}
.icon-chart_f:before {
  content: "\e91f";
}
.icon-chat:before {
  content: "\e920";
}
.icon-chat_f:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e922";
}
.icon-checkbox:before {
  content: "\e923";
}
.icon-checkbox_f:before {
  content: "\e924";
}
.icon-checked:before {
  content: "\e925";
}
.icon-checked_f:before {
  content: "\e926";
}
.icon-circulation:before {
  content: "\e927";
}
.icon-circulation_f:before {
  content: "\e928";
}
.icon-clock:before {
  content: "\e929";
}
.icon-clock_f:before {
  content: "\e92a";
}
.icon-close:before {
  content: "\e92b";
}
.icon-cloud:before {
  content: "\e92c";
}
.icon-cloud_f:before {
  content: "\e92d";
}
.icon-commodity:before {
  content: "\e92e";
}
.icon-commodity_f:before {
  content: "\e92f";
}
.icon-compass:before {
  content: "\e930";
}
.icon-compass_f:before {
  content: "\e931";
}
.icon-copy:before {
  content: "\e932";
}
.icon-copy_f:before {
  content: "\e933";
}
.icon-delete:before {
  content: "\e934";
}
.icon-delete_f:before {
  content: "\e935";
}
.icon-design:before {
  content: "\e936";
}
.icon-design_f:before {
  content: "\e937";
}
.icon-direction:before {
  content: "\e938";
}
.icon-direction_f:before {
  content: "\e939";
}
.icon-dishware:before {
  content: "\e93a";
}
.icon-dishware_f:before {
  content: "\e93b";
}
.icon-done:before {
  content: "\e93c";
}
.icon-done_f:before {
  content: "\e93d";
}
.icon-down:before {
  content: "\e93e";
}
.icon-download:before {
  content: "\e93f";
}
.icon-download_f:before {
  content: "\e940";
}
.icon-drop:before {
  content: "\e941";
}
.icon-drop_f:before {
  content: "\e942";
}
.icon-earphone:before {
  content: "\e943";
}
.icon-earphone_f:before {
  content: "\e944";
}
.icon-edit:before {
  content: "\e945";
}
.icon-edit_f:before {
  content: "\e946";
}
.icon-enlarge:before {
  content: "\e947";
}
.icon-enlarge_f:before {
  content: "\e948";
}
.icon-error:before {
  content: "\e949";
}
.icon-error_f:before {
  content: "\e94a";
}
.icon-exit:before {
  content: "\e94b";
}
.icon-export:before {
  content: "\e94c";
}
.icon-failure:before {
  content: "\e94d";
}
.icon-failure_f:before {
  content: "\e94e";
}
.icon-file:before {
  content: "\e94f";
}
.icon-file_f:before {
  content: "\e950";
}
.icon-files:before {
  content: "\e951";
}
.icon-files_f:before {
  content: "\e952";
}
.icon-fire:before {
  content: "\e953";
}
.icon-fire_f:before {
  content: "\e954";
}
.icon-flag:before {
  content: "\e955";
}
.icon-flag_f:before {
  content: "\e956";
}
.icon-folder:before {
  content: "\e957";
}
.icon-folder_f:before {
  content: "\e958";
}
.icon-form:before {
  content: "\e959";
}
.icon-form_f:before {
  content: "\e95a";
}
.icon-globe:before {
  content: "\e95b";
}
.icon-globe_f:before {
  content: "\e95c";
}
.icon-group:before {
  content: "\e95d";
}
.icon-group_f:before {
  content: "\e95e";
}
.icon-heart:before {
  content: "\e95f";
}
.icon-heart_f:before {
  content: "\e960";
}
.icon-hide:before {
  content: "\e961";
}
.icon-hide_f:before {
  content: "\e962";
}
.icon-home:before {
  content: "\e963";
}
.icon-home_f:before {
  content: "\e964";
}
.icon-idea:before {
  content: "\e965";
}
.icon-idea_f:before {
  content: "\e966";
}
.icon-image:before {
  content: "\e967";
}
.icon-image_f:before {
  content: "\e968";
}
.icon-import:before {
  content: "\e969";
}
.icon-iphone:before {
  content: "\e96a";
}
.icon-iphone_f:before {
  content: "\e96b";
}
.icon-left:before {
  content: "\e96c";
}
.icon-left_f:before {
  content: "\e96d";
}
.icon-link:before {
  content: "\e96e";
}
.icon-location:before {
  content: "\e96f";
}
.icon-location_f:before {
  content: "\e970";
}
.icon-lock:before {
  content: "\e971";
}
.icon-lock_f:before {
  content: "\e972";
}
.icon-mac:before {
  content: "\e973";
}
.icon-mac_f:before {
  content: "\e974";
}
.icon-mail:before {
  content: "\e975";
}
.icon-mail_f:before {
  content: "\e976";
}
.icon-map:before {
  content: "\e977";
}
.icon-map_f:before {
  content: "\e978";
}
.icon-menu:before {
  content: "\e979";
}
.icon-microphone:before {
  content: "\e97a";
}
.icon-microphone_f:before {
  content: "\e97b";
}
.icon-microphone_off:before {
  content: "\e97c";
}
.icon-microphone_off_f:before {
  content: "\e97d";
}
.icon-minus:before {
  content: "\e97e";
}
.icon-more:before {
  content: "\e97f";
}
.icon-more_f:before {
  content: "\e980";
}
.icon-mouse:before {
  content: "\e981";
}
.icon-mouse_f:before {
  content: "\e982";
}
.icon-music:before {
  content: "\e983";
}
.icon-music_f:before {
  content: "\e984";
}
.icon-next:before {
  content: "\e985";
}
.icon-paper:before {
  content: "\e986";
}
.icon-paper_f:before {
  content: "\e987";
}
.icon-phone:before {
  content: "\e988";
}
.icon-phone_f:before {
  content: "\e989";
}
.icon-plus:before {
  content: "\e98a";
}
.icon-pop:before {
  content: "\e98b";
}
.icon-pop_f:before {
  content: "\e98c";
}
.icon-print:before {
  content: "\e98d";
}
.icon-print_f:before {
  content: "\e98e";
}
.icon-publish:before {
  content: "\e98f";
}
.icon-publish_f:before {
  content: "\e990";
}
.icon-QR:before {
  content: "\e991";
}
.icon-QR_f:before {
  content: "\e992";
}
.icon-random:before {
  content: "\e993";
}
.icon-random_f:before {
  content: "\e994";
}
.icon-rate:before {
  content: "\e995";
}
.icon-rate_f:before {
  content: "\e996";
}
.icon-remove:before {
  content: "\e997";
}
.icon-remove_f:before {
  content: "\e998";
}
.icon-renovation:before {
  content: "\e999";
}
.icon-right:before {
  content: "\e99a";
}
.icon-right_f:before {
  content: "\e99b";
}
.icon-safeguard:before {
  content: "\e99c";
}
.icon-safeguard_f:before {
  content: "\e99d";
}
.icon-save:before {
  content: "\e99e";
}
.icon-save_f:before {
  content: "\e99f";
}
.icon-scan:before {
  content: "\e9a0";
}
.icon-search:before {
  content: "\e9a1";
}
.icon-search_f:before {
  content: "\e9a2";
}
.icon-selectbox:before {
  content: "\e9a3";
}
.icon-selectbox_f:before {
  content: "\e9a4";
}
.icon-selected:before {
  content: "\e9a5";
}
.icon-selected_f:before {
  content: "\e9a6";
}
.icon-setting:before {
  content: "\e9a7";
}
.icon-setting_f:before {
  content: "\e9a8";
}
.icon-share:before {
  content: "\e9a9";
}
.icon-share_f:before {
  content: "\e9aa";
}
.icon-shoppingbag:before {
  content: "\e9ab";
}
.icon-shoppingbag_f:before {
  content: "\e9ac";
}
.icon-shoppingcart:before {
  content: "\e9ad";
}
.icon-shoppingcart_f:before {
  content: "\e9ae";
}
.icon-shrink:before {
  content: "\e9af";
}
.icon-shrink_f:before {
  content: "\e9b0";
}
.icon-smile:before {
  content: "\e9b1";
}
.icon-smile_f:before {
  content: "\e9b2";
}
.icon-speech:before {
  content: "\e9b3";
}
.icon-speech_f:before {
  content: "\e9b4";
}
.icon-star:before {
  content: "\e9b5";
}
.icon-star_f:before {
  content: "\e9b6";
}
.icon-statistic:before {
  content: "\e9b7";
}
.icon-statistic_f:before {
  content: "\e9b8";
}
.icon-store:before {
  content: "\e9b9";
}
.icon-store_f:before {
  content: "\e9ba";
}
.icon-sun:before {
  content: "\e9bb";
}
.icon-sun_f:before {
  content: "\e9bc";
}
.icon-tag:before {
  content: "\e9bd";
}
.icon-tag_f:before {
  content: "\e9be";
}
.icon-time:before {
  content: "\e9bf";
}
.icon-time_f:before {
  content: "\e9c0";
}
.icon-tools:before {
  content: "\e9c1";
}
.icon-tools_f:before {
  content: "\e9c2";
}
.icon-top:before {
  content: "\e9c3";
}
.icon-top_f:before {
  content: "\e9c4";
}
.icon-trophy:before {
  content: "\e9c5";
}
.icon-trophy_f:before {
  content: "\e9c6";
}
.icon-unlock:before {
  content: "\e9c7";
}
.icon-unlock_f:before {
  content: "\e9c8";
}
.icon-up:before {
  content: "\e9c9";
}
.icon-upload:before {
  content: "\e9ca";
}
.icon-upload_f:before {
  content: "\e9cb";
}
.icon-user:before {
  content: "\e9cc";
}
.icon-user_f:before {
  content: "\e9cd";
}
.icon-video:before {
  content: "\e9ce";
}
.icon-video_f:before {
  content: "\e9cf";
}
.icon-view:before {
  content: "\e9d0";
}
.icon-view_f:before {
  content: "\e9d1";
}
.icon-waitting:before {
  content: "\e9d2";
}
.icon-waitting_f:before {
  content: "\e9d3";
}
.icon-wallet:before {
  content: "\e9d4";
}
.icon-wallet_f:before {
  content: "\e9d5";
}
.icon-window:before {
  content: "\e9d6";
}
.icon-window_f:before {
  content: "\e9d7";
}

